$color-textos: #173245;
$color-textos-hover: #B7B7B9;

$color-claro: #F7F7F8;

$color-botones: #00ADF2;

$fuente-titulos: 'Raleway';
$fuente-texto: 'Open Sans';

$tamano-texto: 0.6em;
$tamano-titulos: 1.8em;

